@font-face {
    font-family: 'PP Mori';
    font-weight: normal;
    src: url('PP Mori/PPMori-Regular.otf') format('truetype');
  }


body{
  font-family: 'PP Mori';
    max-height: 100vh;
    overflow-y: hidden;
    /* background-color: rgb(219, 255, 161); */
    color: #04AA6D;
    /* background-color: rgb(62, 62, 62); */
    background-color: white;
 }
 
 img{
   
     height: 100vh;
 }



 p{
   padding: 0% ;
   margin: 5px;
 }

h6{
  font-family: 'PP Mori';
  padding: 0% ;
  margin: 5px;
  font-size: 0.75rem;
}

h6:hover{
  color: #c7ec4e;
}

 h3{
  font-family: 'PP Mori';
   font-size: 1.5rem;
   color: #04AA6D;
 }

 h3:hover{
  color: #000;
}

 h4{
  font-family: 'PP Mori';
  font-size: 1.75rem;
  color: #04AA6D;
  margin: 0%;
  margin-top: 10px;
 }

 .container{
   display: grid;
   grid-template-columns: repeat(1, 1fr);;
   grid-template-rows: repeat(3, 1fr);;
   min-height: 100vh;
   max-height: 100vh;
   
   column-gap: 20px;
   row-gap: 0px;
 }

.grid-item{
  /* background-color: aqua; */
  display: none;
  padding: 1rem;
}

.illustration-subject{
  /* grid-column:  span 4; */
  grid-row: 2 / span 1;
  padding: 1rem;
  
}

img{
  margin-left: 10vw;
  width: 75vw;
  height: auto;
}

button{
  padding: 0;
border: none;
background: none;
}



.slidecontainer {
  padding-top: 2rem;
  width: 100%; /* Width of the outside container */
  text-align: center;
}

#slidecontainer{
  /* display: none; */
}

#intro{
  grid-column: 2 / span 2;
  grid-row: 1;
  
  text-align: center;
}

/* The slider itself */
.slider {
  
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  /* margin-left: 45%; */
  width: 200px; /* Full-width */
  height: 5px; /* Specified height */
  background: #000; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
 appearance: none; 
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 3px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}